{% extends 'base.html' %}

{% block title %}编辑日程{% endblock %}

{% block content %}
<link href="/static/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css"></link>
<link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap-datetimepicker/css/datetimepicker.css">
<link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap-timepicker/compiled/timepicker.css">

<div class="page-content-wrapper">
	<!-- BEGIN PAGE -->
	<div class="page-content">
		<div class="row">
			<div class="col-md-12">
				<!-- BEGIN PAGE TITLE & BREADCRUMB-->
				<h3 class="page-title">
					编辑日程
				</h3>
				<ul class="breadcrumb">
					<li>
						<i class="icon-home"></i>
						<a href="">Home</a> 
						<i class="icon-angle-right"></i>
					</li>
					<li>
						<a href="">日程管理</a> 
						<i class="icon-angle-right"></i>
					</li>
					<li>编辑日程</li>

				</ul>
				<!-- END PAGE TITLE & BREADCRUMB-->
			</div>					
		</div>
			
		<div class="row"><div class="col-md-9"><div class="form">
			<form method='post' class="horizontal-form" enctype="multipart/form-data">
				{% csrf_token %}
				{% for field in form %}
					<div class="">
						<div class="form-group"><div class="row">
							<div class="control-label col-md-2" style="text-align:right">{{ field.label}}</div>
							<div class="controls col-md-10">
								{{field}}
								<span class="help-block">{{field.errors}}</span>
							</div>

						</div></div>
					</div>
				{% endfor %}
				
				<div class="form-actions center">				<input type="hidden" name="id" value=" {{id}} ">	
					<button type="submit" class="btn blue"><i class="icon-ok"></i> 编 辑</button>
					<button type="button" class="btn" id="cancel-btn">取 消</button>
				</div>
			</form>
		</div></div></div>	
		
	</div>

</div>

{% endblock %}

{% block script %}
<script src="/static/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>	
<script src="/static/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script src="/static/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/static/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>


<script>

	jQuery("#cancel-btn").click(function(){
		history.back();
	});


	jQuery("#id_day").datetimepicker({
		format:"yyyy-mm-dd",
		autoclose:true,
		todayBtn:true,
		language:"zh-CN",
		pickerPosition:'bottom-right',
		minView:'month',
		maxView:'month'
	});

	// jQuery("#id_start_time,#id_end_time").timepicker({
	// 	'setTime':'08:00 AM',
	// 	'defaultTime':'current',
	// 	'autoclose': true
	// });


</script>

{% endblock %}

